body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.index-body {
    background-image: url('../images/digital-background.jpg');
    height: 100vh; /* Ensure the background covers the full height of the viewport */
}

.about-body {
    background-image: url('../images/digital-background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
}

.home-icon a {
    color: white;
}

.top-nav {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.intro-container {
    background-color: #d5b5fc;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    max-width: 800px; /* Ensure it fits well on large screens */
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap; /* Allow wrapping on small screens */
}

.intro-text {
    width: 100%; /* Ensure intro text takes the full width available */
    box-sizing: border-box; /* Include padding in the width */
    flex: 1;
}

.intro-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contact-button {
    padding: 15px 30px;
    background-color: #ffffff;
    color: #9494e0;
    border: 2px solid #9494e0;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap; /* Prevent text wrapping */
}

.contact-button:hover {
    background-color: #9494e0;
    color: #ffffff;
}

.profile-pic {
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .intro-container {
        width: 60%;
        margin-top: 70px;
        padding: 20px;
    }


    .intro-text h1 {
        font-size: 2.2rem;
    }

    .intro-text p {
        font-size: 1rem;

    }

    .profile-pic {
        width: 150px;
        margin-top: 20px;
        margin-left: auto; /* Center image on small screens */
        margin-right: auto;
    }
}

.about-container {
    background-color: #a3dced;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    margin-top: 120px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    flex-direction: row; /* Make sure it is row for desktop */
}

.about-text {
    flex: 1; /* Allows more space for text */
    padding-right: 20px;
}

.about-pic {
    width: 150px; /* Set a fixed width */
    height: 150px; /* Ensure it's a square */
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0; /* Prevent the image from shrinking */
    margin-left: 20px; /* Create some space between the text and the image */
}

.about-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1rem;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .about-container {
        width: 75%;
        padding: 20px;
        margin-top: 70px;
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start;
    }

    .about-text {
        width: 100%;
        padding-right: 0;
        text-align: left;
    }

    .about-text h1 {
        font-size: 2.2rem;
        text-align: left; /* Left-align the heading */
    }

    .about-text p {
        font-size: 1rem;
        margin-top: 10px;
    }

    .about-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 15px;
        align-self: center; /* Center the image horizontally */
    }
}



.projects-body {
    background-color: #fef3fd;
}

.projects-top-section {
    background-image: url('../images/digital-background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 0;
    text-align: center;
    width: 100%;
}

.projects-top-section h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
    text-align: left;
    padding-left: 15%;
}


/* Projects container */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Individual project styling */
.project {
    width: 45%; /* 45% width to fit two side by side */
    margin: 20px;
    background-color: #fccffc;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.project-video {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #fccffc;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.project-description {
    padding: 10px 20px;
    color: white;
    height: 100px; /* Set fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-description p {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
}

.github-icon {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 10px; /* Adjust margin if needed */
}


/* Mobile View */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        padding: 10px;
        width: 85%;
    }

    .project {
        width: 100%; /* Full width on mobile */
        margin-bottom: 20px;
    }

    .projects-top-section {
        width: 100%; /* Ensure background image spans full width */
    }

    .project-video {
        width: 100%; /* Ensure videos are not cut off */
        height: auto;
    }

    .projects-top-section h1 {
        padding-left: 20px; /* Adjust padding */
        font-size: 2.5rem;
        text-align: left;
    }
}

.resume-body {
    background-image: url('../images/digital-background7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    z-index: 3; /* Ensure the home icon is above the top section */
}

.home-icon a {
    color: white;
}

.top-nav {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 3; /* Ensure the nav is above the top section */
}

.top-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.resume-container {
    background-color: #8fcfff;
    border-radius: 20px;
    padding: 30px;
    width: 60%;
    margin: 100px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
}

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.resume-header h1 {
    font-size: 2.5rem;
    color: white;
    margin: 0;
    text-align: left;
}

.resume-header a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.resume-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Mobile View */
@media (max-width: 768px) {
    .resume-container {
        width: 80%;
        padding: 20px;
        margin-top: 70px;
    }

    .resume-header h1 {
        font-size: 2rem;
    }

    .resume-header a {
        font-size: 1.2rem;
    }
}